.git
.gitignore
node_modules
dist
.env
.env.*
!.env.production
.DS_Store
*.md
.firebaserc
firebase-debug.log
.replit-artifact
*.lock
.vscode
.idea
.eslintcache
.next
.turbo
build
*.log
pnpm-debug.log
